{%extends "base.html" %}

{% block form%}

<div class ="container bg-light">
  <form method="POST" id="nav_form">
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>Warehouses</h2>
        <small>add, edit warehouses</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "button" class="btn" onclick="Navrecord(
          'out', 
          '{{session['alm_name']}}' 
          )">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'first', 
          '{{session['alm_name']}}' 
          )">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'back', 
          '{{session['alm_name']}}' 
          )">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button type ="button" class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'next', 
          '{{session['alm_name']}}' 
          )">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'last', 
          '{{session['alm_name']}}' 
          )">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="Newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div>
    <div class="row">
      <div class="col-sm-12 mb-3">
        {{ form.alm_name.label(class="form-label") }}
        {{ form.alm_name(class="form-control", value = form.alm_name.data) }}
      </div>
    </div>
    <div style="float:right;">
    <input type="submit" id ="submit_button" class="btn btn-primary" formmethod="POST" value="submit" name = "nav">
    </div>
  </form>


  <div class="container mt-5">
    {% block subform_title %}
      <h4>Registered warehouses</h4>
    {% endblock subform_title %}
    <div style="height:445px; overflow:auto;">
      {% block subform %}
      <table class="table table-hover">
        <thead class = "bg-light" style="position: sticky;top: 0">
          <tr>
            {% for header in column_names %}
              {% if header == 'id' %}
              <th></th>
              {% else %}
                <th>{{ header }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in records %}
            <tr>
              {% for key, value in row.items() %}
                {% if key == 'id' %}
                  <td>
                    <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-primary" name ="nav">
                      <small>edit</small>
                    </button>
                  </td>
                {% else %}
                  <td>{{ value }}</td>  
                {% endif %}    
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
      {% endblock subform%}
    </div>
  </div>
</div>  
{% endblock form%}
{% block script%}
{{ super() }}
  <script>
    function Newrecord() {
        document.getElementById("alm_name").value = "";

        }
    function Navrecord(NAV, ALMNAME) {
        document.getElementById("alm_name").value = ALMNAME;
        document.getElementById("submit_button").value = NAV;
        document.getElementById("submit_button").click();
        }
  </script>
{% endblock script%}
