{%extends "base.html" %}

{% block form%}

<div class ="container bg-light border-2">
  <form method="POST" id="nav_form" >
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>Reception from vendor</h2>
        <p>receive SKUs</p><button type = "button" class=" btn btn-link btn-sm" onclick="Navrecord('return')"><small>Click here for returns on this reception</small></button>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "button" class="btn" onclick="Navrecord('out')">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('first')">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('back')">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button type ="button" class="btn btn-outline-dark" id = "displayedid" locked>
          {{ form.id.data }}
        </button>
        <button type = "button" class="btn" onclick="Navrecord('next')">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('last')">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="Newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div hidden>
      {{ form.id() }}
    </div>
    <div class="row mb-4">
      <div class="col-sm-6 pl-2">
        {{ form.lox_vend.label(class="form-label") }}
        {{ form.lox_vend(class="form-select", value = form.lox_vend.data, onchange="Locksubform()") }}
      </div>
      <div class="col-sm-4">
        {{ form.lox_date.label(class="form-label") }}
        {{ form.lox_date(class="form-control", value = form.lox_date.data) }}
      </div>
      <div class="col-sm-2 pt-3 text-center">
        <input type="submit" id ="submit_button" class="btn btn-primary" formmethod="POST" value="submit" name = "nav">
      </div>
    </div>
    <div class="d-sm-flex">  
      <div class="d-flex align-items-stretch" style="flex: 75%;">
        <fieldset class="row rounded border border-dark border-1 mx-1 pb-1" style="--bs-border-opacity: .4;">  
          <legend class="fs-5">Vendor receipt info</legend>
          <div class="col-sm">
            {{ form.lox_doc_no.label(class="form-label") }}
            {{ form.lox_doc_no(class="form-control", value = form.lox_doc_no.data) }}
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            {{ form.lox_datd.label(class="form-label") }}
            {{ form.lox_datd(class="form-control", value = form.lox_datd.data) }}
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            {{ form.lox_nifn.label(class="form-label") }}
            {{ form.lox_nifn(class="form-control", value = form.lox_nifn.data) }}
          </div>
        </fieldset>
      </div>
      <div class="d-flex align-items-stretch" style="flex: 25%;">
        <fieldset class="row rounded border border-dark border-1 mx-1" style="--bs-border-opacity: .4;">
          <legend class="fs-5">Receipt summary</legend>
          <div class="row g-1 px-3"> 
            <div class="col-sm-4">
              {{ form.lox_sub.label(class="form-label form-label-sm") }}
            </div>
            <div class="col-sm-8">
              {{ form.lox_sub(class ="form-control form-control-sm", value = form.lox_sub.data) }}
            </div>
            <div class="w-100"></div>
            <div class="col-sm-4">
              {{ form.lox_disc.label(class="form-label form-label-sm") }}
            </div>
            <div class="col-sm-8">
              {{ form.lox_disc(class ="form-control form-control-sm", value = form.lox_disc.data) }}
            </div>
            <div class="w-100"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-8 border border-secondary"></div>
            <div class="w-100"></div>
            <div class="col-sm-4">
              <p class="fw-semibold">Net-total</p>
            </div>
            <div class="col-sm-8">
              <input class="form-control form-control-sm" id="Sub-total" min="0" name="Sub-total" step="any" type="number" value="None" readonly>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-4">
              {{ form.lox_tax.label(class="form-label") }}
            </div>
            <div class="col-sm-8">
              {{ form.lox_tax(class="form-control", value = form.lox_tax.data) }}
            </div>
            <div class="w-100"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-8 border border-dark"></div>
            <div class="w-100"></div>
            <div class="col-sm-4">
              <p class="fw-semibold">Total</p>
            </div>
            <div class="col-sm-8">
              <input class="form-control form-control-sm" id="Total" min="0" name="Total" step="any" type="number" value="None" readonly>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <fieldset class="row rounded border border-dark border-1 mx-1 mt-4" style="--bs-border-opacity: .4;">
      <legend class="fs-5">Vendor receipt details</legend>
      <div>
        {{ form.subform.idx }}
        {{ form.subform.log_enca }}
      </div>
      <div class="col-sm-3 form-floating">
        {{ form.subform.log_sku(class="form-select", value = form.subform.log_sku.data) }}
        {{ form.subform.log_sku.label() }}
      </div>
      <div class="col-sm-2 form-floating">
        {{ form.subform.log_qty(class="form-control", value = form.subform.log_qty.data) }}
        {{ form.subform.log_qty.label() }}
      </div>
      <div class="col-sm-2 form-floating">
        {{ form.subform.log_pric(class="form-control", value = form.subform.log_pric.data) }}
        {{ form.subform.log_pric.label() }}
      </div>
      <div class="col-sm-2 form-floating">
        {{ form.subform.log_tax(class="form-control", value = form.subform.log_tax.data) }}
        {{ form.subform.log_tax.label() }}
      </div>
      <div class="col-sm-3 form-floating">
        {{ form.subform.log_alm(class="form-select", value = form.subform.log_alm.data) }}
        {{ form.subform.log_alm.label() }}
      </div>
      <div class="col-sm-12 pt-3 d-grid gap-5 d-sm-flex justify-content-md-center" >
        <div>
            <button type = "submit" value = "submit1" form ="nav_form" formmethod ="post" class="btn btn-md btn-primary" name ="nav" id="updaddbtn">
              <strong id = "lbl_but_sub">update </strong><i class="fa-solid fa-circle-arrow-down"></i>
            </button>
        </div>
        <div>
          <button type="button" class="btn btn-md btn-primary" id = "sub"  value = "update" onclick="Newsub()">
            <strong >UPDATE/ADD</strong>
          </button>
        </div>
        <div class="form-check form-switch">
          {{ form.subform.log_wtax(class="form-check-input") }}
          {{ form.subform.log_wtax.label(class="form-check-label") }}
        </div>
      </div>   
  </form>
      <div class="row justify-content-center my-3">
        <div class="col-11 border border-dark border-top-1" style="--bs-border-opacity: .4;"></div>
      </div>
      {% for sub in column_names %}
        <label>{{ sub[0] }}</label>
        <section style="height:445px; overflow:auto;">
          <table id = "skus" class="table table-hover">
            <thead class = "bg-light" style="position: sticky;top: 0">
              <tr>
                {% for header in sub[1] %}
                  {% if header == 'id' %}
                    <th style="text-align: center;"></th>
                  {% else %}
                    <th style="text-align: center;">{{ header }}</th>
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              
              {% for counter in range(rcd_len) %}
                {% for row in records[counter] %}
                  {% if row['id'] == form.subform.idx.data %}
                    <tr class="table-active">
                  {% else %}
                    <tr>
                  {% endif %}  
                  {% for key, value in row.items() %}
                    {% if key == 'id' %}
                      <td style="text-align: center;" class="pt-2">
                        <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-primary" name ="subnav" id ="subnav">
                          <small>edit</small>
                        </button>
                      </td>
                      <td style="text-align: center;" class="pt-2">
                        <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-danger" name ="delete" id ="delete">
                          <small>drop</small>
                        </button>
                      </td>
                    {% elif key == relation[counter][0].get('child_tbl_fld') %} <!-- hides parent-child value-->
                      <td hidden></td>
                    {% elif key in ['log_enca', 'log_rtrn', 'log_bal', 'log_cost', 'log_mod_doc', 'log_note'] %}
                      <td hidden></td>
                    {% elif key == 'log_sku' %} <!-- loops for sku names -->
                      {% for choice in log_sku_choices %}
                        {% if choice[0] == value %}
                          <td style="text-align: center;">{{ choice[1] }}</td>
                        {% endif %}
                      {% endfor %}                        
   
                    {% elif key == 'log_wtax' and value %}<!-- display check icon if true-->
                      <td style="text-align: center;"><i class="fa-solid fa-check"></i></td>
                    {% elif key == 'log_wtax' and not value %}<!-- display check icon if false-->
                      <td style="text-align: center;"><i class="fa-solid fa-xmark"></i></td>
                    {% elif key == 'log_alm' %}<!-- loops for warehouse name-->
                      {% for choice in log_alm_choices %}
                        {% if choice[0] == value %}
                          <td style="text-align: center;">{{ choice[1] }}</td>
                        {% endif %}
                      {% endfor %} 
                    {% else %}
                      <td style="text-align: center;">{{ value }}</td>
                    {% endif %}    
                  {% endfor %}
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </section> 
      {% endfor %}
    </fieldset>  
{% endblock form %}
{% block script %}
  {{ super() }}
  <script>

    document.getElementById("subform-log_wtax").checked = Boolean({{session['flexSwitch']}});
    document.getElementById("Sub-total").value = {{session['Sub-total']}};
    document.getElementById("Total").value = {{session['Total']}};

    if (document.getElementById("lox_vend").value != {{session['lox_vend']}}){
      document.getElementById("updaddbtn").disabled = true;
      document.getElementById("subnav").disabled = true;
      document.getElementById("delete").disabled = true;
    }

    function Newrecord() {
      document.getElementById("id").value = null;
      document.getElementById("lox_vend").value = null;
      document.getElementById("lox_date").value = null;
      document.getElementById("lox_doc_no").value = null;
      document.getElementById("lox_datd").value = null;
      document.getElementById("lox_nifn").value = null;
      document.getElementById("lox_disc").value = null;
      document.getElementById("lox_sub").value = null;
      document.getElementById("Sub-total").value = null;
      document.getElementById("lox_tax").value = null;
      document.getElementById("Total").value = null;
      document.getElementById("subform-log_qty").value = null;
      document.getElementById("subform-log_pric").value = null;
      document.getElementById("subform-log_tax").value = null;
      document.getElementById("subform-log_sku").value = null;
      document.getElementById("subform-log_alm").value = null;
      document.getElementById("subform-log_qty").disabled = true;
      document.getElementById("subform-log_pric").disabled = true;
      document.getElementById("subform-log_tax").disabled = true;
      document.getElementById("subform-log_sku").disabled = true;
      document.getElementById("subform-log_alm").disabled = true;
      document.getElementById("updaddbtn").disabled = true;
      document.getElementById("sub").disabled = true;
      document.getElementById("subform-log_wtax").disabled = true;  
      while( skus.rows.length > 1) skus.rows[1].remove();
      }

      function Navrecord(NAV) {
      document.getElementById("lox_vend").value = {{session['lox_vend']}};
      document.getElementById("lox_date").value = '{{session['lox_date']}}';
      document.getElementById("lox_doc_no").value = {{'null' if not session['lox_doc_no'] else session['lox_doc_no']}};
      document.getElementById("lox_datd").value = '{{session['lox_datd']}}';
      document.getElementById("lox_nifn").value = {{'null' if not session['lox_nifn'] else session['lox_nifn']}};
      document.getElementById("lox_disc").value = {{session['lox_disc']}};
      document.getElementById("lox_sub").value = {{session['lox_sub']}};
      document.getElementById("Sub-total").value = {{session['lox_sub'] - session['lox_disc']}};
      document.getElementById("lox_tax").value = {{session['lox_tax']}};
      document.getElementById("Total").value = {{session['lox_sub'] - session['lox_disc'] + session['lox_tax']}};
      document.getElementById("id").value = {{session['id']}};
      document.getElementById("submit_button").value = NAV;
      document.getElementById("subform-log_qty").value = 1;
      document.getElementById("subform-log_pric").value = 1;
      document.getElementById("subform-log_tax").value = 1;
      document.getElementById("subform-log_sku").value = {{session['log_sku']}};
      document.getElementById("subform-log_alm").value = {{session['log_alm']}};;
      document.getElementById("submit_button").click();
      }
      function Newsub() { 
      if (document.getElementById("lbl_but_sub").innerHTML == "update "){
        document.getElementById("lbl_but_sub").innerHTML = "add ";
        document.getElementById("subform-idx").value = 0;
        document.getElementById("subform-log_enca").value = 0;
        document.getElementById("subform-log_sku").value = null;
        document.getElementById("subform-log_qty").value = null;
        document.getElementById("subform-log_pric").value = null;
        document.getElementById("subform-log_tax").value = null;
        document.getElementById("subform-log_alm").value = null;
      }
      else {
        document.getElementById("lbl_but_sub").innerHTML = "update ";
        document.getElementById("subform-idx").value = {{0 if not session['idx'] else session['idx']}};
        document.getElementById("subform-log_enca").value =  {{0 if not session['log_enca'] else session['log_enca']}};
        document.getElementById("subform-log_sku").value = {{0 if not session['log_sku'] else session['log_sku']}};
        document.getElementById("subform-log_qty").value = {{'null' if not session['log_qty'] else session['log_qty']}};
        document.getElementById("subform-log_pric").value = {{'null' if not session['log_pric'] else session['log_pric']}};
        document.getElementById("subform-log_tax").value = {{'null' if not session['log_tax'] else session['log_tax']}};
        document.getElementById("subform-log_alm").value = {{0 if not session['log_alm'] else session['log_alm']}};
          }      
        } 
      
      function Locksubform() {
        if (document.getElementById("lox_vend").value != {{session['lox_vend']}}){   
          document.getElementById("updaddbtn").disabled = true;
          document.getElementById("subnav").disabled = true;
          document.getElementById("sub").disabled = true;
          document.getElementById("delete").disabled = true;
        }
        else{
          document.getElementById("updaddbtn").disabled = false;
          document.getElementById("subnav").disabled = false;
          document.getElementById("sub").disabled = false;
          document.getElementById("delete").disabled = false;
        }
      }  

  </script>
{% endblock script%}
