{%extends "base.html" %}

{% block form%}

<div class ="form-group bg-light border-2">
  <form method="POST" id="nav_form" >
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>Recipes</h2>
        <small>add, edit, activate Recipes</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "button" class="btn" onclick="Navrecord(
          'out', 
          '{{session['rct_name']}}', 
          {{session['rct_cost']}}, 
          {{session['rct_cosc']}},
          {{session['rct_dens']}},
          '{{session['rct_denu']}}', 
          {{session['rct_yiel']}},
          {{session['rct_unit']}},
          {{session['rct_ebld']}},
          {{session['rcd_enca']}},
          {{session['rcd_ing']}},
          {{session['rcd_qty']}},
          {{session['rcd_yield']}}
          )">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'first', 
          '{{session['rct_name']}}', 
          {{session['rct_cost']}}, 
          {{session['rct_cosc']}},
          {{session['rct_dens']}},
          '{{session['rct_denu']}}', 
          {{session['rct_yiel']}},
          {{session['rct_unit']}},
          {{session['rct_ebld']}},
          {{session['rcd_enca']}},
          {{session['rcd_ing']}},
          {{session['rcd_qty']}},
          {{session['rcd_yield']}}
          )">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'back',
          '{{session['rct_name']}}', 
          {{session['rct_cost']}}, 
          {{session['rct_cosc']}},
          {{session['rct_dens']}},
          '{{session['rct_denu']}}', 
          {{session['rct_yiel']}},
          {{session['rct_unit']}},
          {{session['rct_ebld']}},
          {{session['rcd_enca']}},
          {{session['rcd_ing']}},
          {{session['rcd_qty']}},
          {{session['rcd_yield']}}
          )">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button type ="button" class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'next', 
          '{{session['rct_name']}}', 
          {{session['rct_cost']}}, 
          {{session['rct_cosc']}},
          {{session['rct_dens']}},
          '{{session['rct_denu']}}', 
          {{session['rct_yiel']}},
          {{session['rct_unit']}},
          {{session['rct_ebld']}},
          {{session['rcd_enca']}},
          {{session['rcd_ing']}},
          {{session['rcd_qty']}},
          {{session['rcd_yield']}}
          )">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord(
          'last',  
          '{{session['rct_name']}}', 
          {{session['rct_cost']}}, 
          {{session['rct_cosc']}},
          {{session['rct_dens']}},
          '{{session['rct_denu']}}', 
          {{session['rct_yiel']}},
          {{session['rct_unit']}},
          {{session['rct_ebld']}},
          {{session['rcd_enca']}},
          {{session['rcd_ing']}},
          {{session['rcd_qty']}},
          {{session['rcd_yield']}}
          )">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="Newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {{ form.rct_name.label(class="form-label") }}
        {{ form.rct_name(class="form-control", value = form.rct_name.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.rct_cost.label(class="form-label") }}
        {{ form.rct_cost(class="form-control", value = form.rct_cost.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.rct_cosc.label(class="form-label") }}
        {{ form.rct_cosc(class="form-control", value = form.rct_cosc.data) }}
      </div>
      <div class="form-check col-sm-1 pt-4" style="padding-left: 30px;">
        {{ form.rct_ebld.label(class="form-check-label") }}
        {{ form.rct_ebld(class="form-check-input", value = form.rct_ebld.data, onclick="Submit()") }}
      </div>
      <div class="col-sm-2 pt-3" style="text-align:center" >
        <input type="submit" id ="submit_button" class="btn btn-primary" formmethod="POST" value="submit" name = "nav">
      </div>
      <div class="col-sm-3 pt-3">
        {{ form.rct_dens.label(class="form-label") }}
        {{ form.rct_dens(class="form-control", value = form.rct_dens.data) }}
      </div>
      <div class="col-sm-3 pt-3">
        {{ form.rct_denu.label(class="form-label") }}
        {{ form.rct_denu(class="form-select", value = form.rct_denu.data) }}
      </div>
      <div class="col-sm-3 pt-3">
        {{ form.rct_yiel.label(class="form-label") }}
        {{ form.rct_yiel(class="form-control", value = form.rct_yiel.data) }}
      </div>
      <div class="col-sm-3 pt-3">
        {{ form.rct_unit.label(class="form-label") }}
        {{ form.rct_unit(class="form-select", value = form.rct_unit.data) }}
      </div>
    </div>
    <div class="mt-10">
    </div>

  <div class=" container-fluid rounded my-5 border border-dark border-1">
    <div class=" row mt-5">
      <div>
        {{ form.subform.idx }}
        {{ form.subform.rcd_enca }}
      </div>
      <div class="col-sm-3">
        {{ form.subform.rcd_ing.label(class="form-label") }}
        {{ form.subform.rcd_ing(class="form-select", value = form.subform.rcd_ing.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.subform.rcd_qty.label(class="form-label") }}
        {{ form.subform.rcd_qty(class="form-control", value = form.subform.rcd_qty.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.subform.rcd_unit.label(class="form-label") }}
        {{ form.subform.rcd_unit(class="form-select", value = form.subform.rcd_unit.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.subform.rcd_yiel.label(class="form-label") }}
        {{ form.subform.rcd_yiel(class="form-control", value = form.subform.rcd_yiel.data) }}
      </div>
      <div class="col-sm-12 pt-3 d-grid gap-5 d-sm-flex justify-content-md-center" >
        <button type = "submit" value = "submit1" form ="nav_form" formmethod ="post" class="btn btn-md btn-primary" name ="nav">
          <strong id = "lbl_but_sub">update </strong><i class="fa-solid fa-circle-arrow-down"></i>
        </button>
        <button type="button" class="btn btn-sm btn-primary" id = "sub"  value = "update" onclick="Newsub({{session['rcd_idx']}},
                                                                                                          {{session['rcd_enca']}},
                                                                                                          {{session['rcd_ing']}},
                                                                                                          {{session['rcd_qty']}},
                                                                                                          {{session['rcd_unit']}},
                                                                                                          {{session['rcd_yield']}}
                                                                                                          )">
          UPDATE/ADD
        </button>
      </div>
    </div>
  </form>
    <div>
    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    </div>
    <div class="container mt-5">
      
      {% for sub in column_names %}
        <h4>{{ sub[0] }}</h4>
      <div style="height:445px; overflow:auto;">
        <table class="table table-hover">
          <thead class = "bg-light" style="position: sticky;top: 0">
            <tr>
              {% for header in sub[1] %}
                {% if header == 'id' %}
                  <th style="text-align: center;"></th>
                {% else %}
                  <th style="text-align: center;">{{ header }}</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            
            {% for counter in range(rcd_len) %}
              {% for row in records[counter] %}
                {% if row['id'] == form.subform.idx.data %}
                <tr class="table-active">
                {% else %}
                <tr>
                {% endif %}  
                  {% for key, value in row.items() %}
                    {% if key == 'id' %}
                      <td style="text-align: center;" class="pt-2">
                        <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-primary" name ="nav">
                          <small>edit</small>
                        </button>
                      </td>
                    {% else %}
                      {% if key == relation[counter][0].get('child_tbl_fld') %} <!-- exception  hides parent-child field-->
                        <td style="text-align: center;" class="pt-2">
                          <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-danger" name ="nav">
                            <small>drop</small>
                          </button>
                        </td>
                      {% elif key == 'rcd_ing' %} <!-- exception loops for ing name -->
                        {% for choice in rcd_ing_choices %}
                          {% if choice[0] == value %}
                            <td style="text-align: center;">{{ choice[1] }}</td>
                          {% endif %}
                        {% endfor %}                        
                      {% elif key == 'rcd_unit' %}<!-- exception loops for UM-->
                          {% for choice in rcd_unit_choices %}
                            {% if choice[0] == value %}
                              <td style="text-align: center;">{{ choice[1] }}</td>
                            {% endif %}
                          {% endfor %}
                      {% else %}
                        <td style="text-align: center;">{{ value }}</td>
                      {% endif %}  
                    {% endif %}    
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div> 
      {% endfor %}
      </div>
    </div>
  </div> 
</div>  
{% endblock form %}
{% block script %}
{{ super() }}
  <script>
    function Newrecord() {
      document.getElementById("rct_name").value = "";
      document.getElementById("rct_cosc").value = "";
      document.getElementById("rct_cost").value = "";
      document.getElementById("rct_dens").value = "";
      document.getElementById("rct_denu").value = "";
      document.getElementById("rct_yiel").value = "";
      document.getElementById("rct_unit").value = "";
      document.getElementById("rct_subf").value = "";
      document.getElementById("rct_ebld").value = "";
      document.getElementById("id").value = 0;
      document.getElementById("rcd_ing").value = "";
      document.getElementById("rcd_qty").value = "";
      document.getElementById("rcd_unit").value = "";
      document.getElementById("rcd_yiel").value = "";
      document.getElementById("idx").value = 0;
      document.getElementById("rcd_enca").value = 0;
      }

    function Navrecord(NAV, RCTNAME, RCTCOST, RCTCOSC, 
                      RCTDENS, RCTDENU, RCTYIEL, RCTUNIT, 
                      RCTEBLD, RCTSUBF) {
      document.getElementById("rct_name").value = RCTNAME;
      document.getElementById("rct_cosc").value = RCTCOSC;
      document.getElementById("rct_cost").value = RCTCOST;
      document.getElementById("rct_dens").value = RCTDENS;
      document.getElementById("rct_denu").value = RCTDENU;
      document.getElementById("rct_yiel").value = RCTYIEL;
      document.getElementById("rct_unit").value = RCTUNIT;
      document.getElementById("rct_subf").value = RCTSUBF;
      document.getElementById("rct_ebld").value = RCTEBLD;
      document.getElementById("submit_button").value = NAV;
      document.getElementById("submit_button").click();
      }

    function Submit() {
      document.getElementById("submit_button").click();
      }

    function Newsub(IDX, RCDENCA, RCDING, RCDQTY, RCDUNIT, RCDYIEL) {
      if (document.getElementById("lbl_but_sub").innerHTML == "update "){
        document.getElementById("lbl_but_sub").innerHTML = "add ";
        document.getElementById("subform-idx").value = 0;
        document.getElementById("subform-rcd_enca").value = 0;
        document.getElementById("subform-rcd_ing").value = "";
        document.getElementById("subform-rcd_qty").value = "";
        document.getElementById("subform-rcd_unit").value = "";
        document.getElementById("subform-rcd_yiel").value = "";
        
      }
      else{
        document.getElementById("lbl_but_sub").innerHTML = "update ";
        document.getElementById("subform-idx").value = IDX;
        document.getElementById("subform-rcd_enca").value = RCDENCA;
        document.getElementById("subform-rcd_ing").value = RCDING;
        document.getElementById("subform-rcd_qty").value = RCDQTY;
        document.getElementById("subform-rcd_unit").value = RCDUNIT;
        document.getElementById("subform-rcd_yiel").value = RCDYIEL;
      }      
    }
  </script>
{% endblock script%}
