{%extends "base.html" %}

{% block form%}

<div class ="container bg-light">
  <form method="POST" id="nav_form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>SKUs</h2>
        <small>add, edit, activate SKUs</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "button" class="btn" onclick="Navrecord('out')">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('first')">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('back')">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button type ="button" class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "button" class="btn" onclick="Navrecord('next')">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('last')">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="Newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div>
    <div style="display: flex; flex-wrap: wrap;">
      <div class="row" style ="flex: 70%; padding: 5px;">
        <div class="col-md-6">
          {{ form.sku_name.label(class="form-label") }}
          {{ form.sku_name(class="form-control", value = form.sku_name.data) }}
        </div>
        <div class="col-md-3">
          <div>
            {{ form.sku_cont.label(class="form-label") }}
          </div>
          <div>
            <div style="width: 60%; float: left;">
              {{ form.sku_cont(class="form-control", value = form.sku_cont.data) }}
            </div>
            <div style="width: 40%; float: left;">
              {{ form.sku_unit(class="form-select", value = form.sku_unit.data) }}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          {{ form.sku_ingr.label(class="form-label") }}
          {{ form.sku_ingr(class="form-control", value = form.sku_ingr.data) }}
        </div>


        <div class="col-md-3 pt-3">
          {{ form.sku_itbi.label(class="form-label") }}
          {{ form.sku_itbi(class="form-control", value = form.sku_itbi.data) }}
        </div>
        <div class="col-md-3 pt-3">
          <div>
            {{ form.sku_vaci.label (class="form-label") }}
          </div>
            <div style="width: 55%; float: left;">
              {{ form.sku_vaci(class="form-control", value = form.sku_vaci.data) }}
            </div>
            <div style="width: 45%; float: left;">
              {{ form.sku_v_unit(class="form-select", value = form.sku_v_unit.data) }}
            </div>
        </div>
        <div class="col-md-3 pt-3">
          {{ form.sku_barc.label(class="form-label") }}
          {{ form.sku_barc(class="form-control", value = form.sku_barc.data) }}
        </div>
        <div class="col-md-3 pt-3">
          {{ form.sku_pref.label(class="form-label") }}
          {{ form.sku_pref(class="form-control", value = form.sku_nams.data) }}
        </div>


        <div class="col-md-3">
          {{ form.sku_nams.label(class="form-label") }}
          {{ form.sku_nams(class="form-control", value = form.sku_nams.data) }}
        </div>
        <div class="col-md-9 pt-4" style="text-align:center; float:right;">
          <input type="submit" id ="submit_button" class="btn btn-primary" 
          formmethod="POST" value="submit" name = "nav">
        </div>
        
      </div>
      <div class="col-sm" style="flex: 30%; padding: 5px; ">
        <img src="{{ sku_img }}" class="img-thumbnail img-fluid" alt="sku icon" 
        title="Click button bellow to add new image">
        {{ form.sku_foto(class="form-control-file") }}
        {% if form.sku_foto.errors %}
          {% for error in form.sku_foto.errors %}
            <span class ="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </form>


  <div class="container mt-5">
    {% for sub in column_names %}
        <h4>{{ sub[0] }}</h4>

    <div style="height:445px; overflow:auto;">

      <table class="table table-hover">
        <thead class = "bg-light" style="position: sticky;top: 0">
          <tr>
            {% for header in sub[1] %}
              {% if header == 'id' %}
                <th style="text-align: center;"></th>
              {% else %}
                <th style="text-align: center;">{{ header }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in records[0] %}
            {% if row['id'] == form.id.data %}  <!-- styles selected records-->
              {% if row['rct_ebld'] %}  <!-- styles disabled records-->
                <tr class="table-active">
              {% else %}
                <tr class="table-active" style="opacity: 0.5;">
              {% endif %}
            {% else %}
              {% if row['rct_ebld'] %}  <!-- styles disabled records-->
                <tr>
              {% else %}
                <tr style="opacity: 0.5;">
              {% endif %}   
            {% endif %}
            {% for key, value in row.items() %}
              {% if key == 'id' %}
                <td style="text-align: center;" class="pt-2">
                  <button type = "submit" value = {{ value }} form ="nav_form" 
                    formmethod ="post" class="btn btn-sm btn-primary" name ="nav">
                    <small>edit</small>
                  </button>
                </td>
              {% elif key == 'sku_ingr' %}<!-- looks for ingredient name-->
                {% for choice in sku_ingr_choices %}
                  {% if choice[0] == value %}
                    <td style="text-align: center;">{{ choice[1] }}</td>
                  {% endif %}
                {% endfor %} 
              <!-- looks for Unit of measure name-->  
              {% elif key == 'sku_unit' or key == 'sku_v_unit' %}
                {% for choice in sku_unit_choices %}
                  {% if choice[0] == value %}
                    <td style="text-align: center;">{{ choice[1] }}</td>
                  {% endif %}
                {% endfor %}
              <!-- looks for preffered vendor name-->
              {% elif key == 'sku_pref' %}
                {% for choice in sku_pref_choices %}
                  {% if choice[0] == value %}
                    <td style="text-align: center;">{{ choice[1] }}</td>
                  {% endif %}
                {% endfor %}

                

              {% else %}
                <td style="text-align: center;">{{ value }}</td> 
              {% endif %}    
            {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
    {% endfor %}
    </div>
  </div>
</div>  
{% endblock form %}
{% block script %}
{{ super() }}
  <script>
    function Newrecord() {
        document.getElementById("sku_name").value = "";
        document.getElementById("sku_ingr").value = "";
        document.getElementById("sku_cont").value = "";
        document.getElementById("sku_unit").value = "";
        document.getElementById("sku_barc").value = "";
        //document.getElementById("sku_foto").value = None;
        document.getElementById("sku_pref").value = "";
        document.getElementById("sku_itbi").value = "";
        document.getElementById("sku_vaci").value = "";
        document.getElementById("sku_v_unit").value = "";
        document.getElementById("sku_nams").value = "";
        document.getElementById("id").value = 0;
        }

    function Navrecord(NAV) {
        document.getElementById("sku_name").value = '{{session['sku_name']}}';
        document.getElementById("sku_ingr").value = {{session['sku_ingr']}};
        document.getElementById("sku_cont").value = {{session['sku_cont']}};
        document.getElementById("sku_unit").value = {{session['sku_unit']}};
        document.getElementById("sku_barc").value = '{{session['sku_barc']}}';
        //document.getElementById("sku_foto").value = '{{session['sku_foto']}}';
        document.getElementById("sku_pref").value = {{session['sku_pref']}};
        document.getElementById("sku_itbi").value = {{session['sku_itbi']}};
        document.getElementById("sku_vaci").value = {{session['sku_vaci']}};
        document.getElementById("sku_v_unit").value = {{session['sku_v_unit']}};
        document.getElementById("sku_nams").value = '{{session['sku_nams']}}';
        document.getElementById("id").value = {{session['id']}};
        document.getElementById("submit_button").value = NAV;
        document.getElementById("submit_button").click();
        }

        function Submit() {
        document.getElementById("submit_button").click();
        }
  </script>
{% endblock script%}
