{%extends "base.html" %}

{% block form%}

<div class ="container bg-light">
  <form method="POST" id="nav_form">
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2 id="xxx">Business Partner</h2>
        <small>add, edit, enable Business Partner info</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "button" class="btn" onclick="Navrecord('out')">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('first')">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('back')">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button type ="button" class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "button" class="btn" onclick="Navrecord('next')">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "button" class="btn" onclick="Navrecord('last')">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="Newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div style="display:flex;">
      <div class="row" style="align-items: center;">
        <div class="col-sm-4">
          {{ form.soc_name.label(class="form-label") }}
          {{ form.soc_name(class="form-control", value = form.soc_name.data) }}
        </div>
        <div class="col-sm-3">
          {{ form.soc_come.label(class="form-label") }}
          {{ form.soc_come(class="form-control", value = form.soc_come.data) }}
        </div>
        <div class="col-sm-3">
          {{ form.soc_rnc.label(class="form-label") }}
          {{ form.soc_rnc(class="form-control", value = form.soc_rnc.data) }}
        </div>
        <div class="col-sm-2">
          {{ form.soc_ebld.label(class="form-check-label") }}
          {{ form.soc_ebld(class="form-check-input", value = form.soc_name.data) }}
        </div>
      </div>
      <div class="row mt-3";>
        <div class="col-sm">
          {{ form.soc_addr.label(class="form-label") }}
          {{ form.soc_addr(class="form-control", value = form.soc_addr.data) }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-3">
          {{ form.soc_cont.label(class="form-label") }}
          {{ form.soc_cont(class="form-control", value = form.soc_cont.data) }}
        </div>
        <div class="col-sm-3">
          {{ form.soc_tel1.label(class="form-label") }}
          {{ form.soc_tel1(class="form-control", value = form.soc_tel1.data) }}
        </div>
        <div class="col-sm-3">
          {{ form.soc_tel2.label(class="form-label") }}
          {{ form.soc_tel2(class="form-control", value = form.soc_tel2.data) }}
        </div>
        <div class="col-sm-3">
          {{ form.soc_tel3.label(class="form-label") }}
          {{ form.soc_tel3(class="form-control", value = form.soc_tel3.data) }}
        </div>
      </div>
      <div class="row mt-3"  style="justify-content: flex-end;">
        <div class="col-sm-1">
          <input type="submit" id ="submit_button" class="btn btn-primary" formmethod="POST" value="submit" name = "nav">
        </div>
    </div>
    </form>


  <div class="container mt-5">
    {% for sub in column_names %}
        <h4>{{ sub[0] }}</h4>

    <div style="height:445px; overflow:auto;">

      <table class="table table-hover">
        <thead class = "bg-light" style="position: sticky;top: 0">
          <tr>
            {% for header in sub[1] %}
              {% if header == 'id' %}
                <th style="text-align: center;"></th>
              {% else %}
                <th style="text-align: center;">{{ header }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in records[0] %}
          {% if row['soc_ebld'] %}  <!-- styles disabled records-->
          <tr>
          {% else %}
          <tr style="opacity: 0.5;">
          {% endif %}
            {% for key, value in row.items() %}
                {% if key == 'id' %}
                  <td style="text-align: center;" class="pt-2">
                    <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-primary" name ="nav">
                      <small>edit</small>
                    </button>
                  </td>
                {% else %}
                  {% if key == 'soc_ebld' and value %}<!-- just an exception for this form-->
                    <td style="text-align: center;"><i class="fa-solid fa-check"></i></td>
                  {% elif key == 'soc_ebld' and not value %}<!-- just an exception for this form-->
                    <td style="text-align: center;"><i class="fa-solid fa-xmark"></i></td>
                  {% else %}
                    <td style="text-align: center;">{{ value }}</td>
                  {% endif %}  
                {% endif %}    
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
    {% endfor %}
    </div>
  </div>
</div>  
{% endblock form %}
{% block script%}
{{ super() }}
  <script>
    function Newrecord() {
        document.getElementById("soc_name").value = null;
        document.getElementById("soc_come").value = null;
        document.getElementById("soc_rnc").value = null;
        document.getElementById("soc_ebld").value = "checked";
        document.getElementById("soc_cont").value = null;
        document.getElementById("soc_addr").value = null;
        document.getElementById("soc_tel1").value = null;
        document.getElementById("soc_tel2").value = null;
        document.getElementById("soc_tel3").value = null;
        document.getElementById("id").value = 0;
        }

        function Navrecord(NAV) {
        document.getElementById("soc_name").value = '{{session['soc_name']}}';
        document.getElementById("soc_come").value = {{'null' if not session['soc_come'] or session['soc_come'] == 'None' else  "\'{}\'".format(session['soc_come'])}};
        document.getElementById("soc_rnc").value = {{'null' if not session['soc_rnc'] else session['soc_rnc']}};
        document.getElementById("soc_ebld").value = '{{session['soc_ebld']}}';
        //document.getElementById("soc_cont").value = {{'null' if not session['soc_cont'] or session['soc_cont']== 'None' else '\'' + session['soc_cont'] + '\''}};
        //document.getElementById("soc_addr").value = {{'null' if not session['soc_addr'] or session['soc_addr'] == 'None' else session['soc_addr']}};
        //document.getElementById("soc_tel1").value = {{'null' if not session['soc_tel1'] or session['soc_tel1']== 'None' else session['soc_tel1']}};
        //document.getElementById("soc_tel2").value = {{'null' if not session['soc_tel2'] or session['soc_tel2']== 'None' else session['soc_tel2']}};
        //document.getElementById("soc_tel3").value = {{'null' if not session['soc_tel3'] or session['soc_tel3']== 'None' else session['soc_tel3']}};
        document.getElementById("id").value = {{session['id']}};
        document.getElementById("submit_button").value = NAV;
        document.getElementById("submit_button").click();
        }
      
  </script>
{% endblock script%}
