{%extends "base.html" %}

{% block form%}

<div class ="container bg-light">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>Unit of measurement</h2>
        <small>add, edit, delete unit of measures and create your own table of equivalents</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "submit" value = "first" class="btn" name ="nav">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "submit" value = "first" class="btn" name ="nav">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "submit" value = "back" class="btn" name ="nav">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "submit" value = "next" class="btn" name ="nav">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "submit" value = "last" class="btn" name ="nav">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "submit" value = "new" class="btn" name ="nav">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {{ form.qty_um.label(class="form-label") }}
        {{ form.qty_um(class="form-select") }}
      </div>
      <div class="col-sm-3">
        {{ form.uni_symb.label(class="form-label") }}
        {{ form.uni_symb(class="form-control") }}
      </div>
      <div class="col-sm-1 align-items-center" style="margin:auto">
        <h1>=</h1>
      </div>
      <div class="col-sm-3">
        {{ form.qty_base.label(class="form-label") }}
        {{ form.qty_base(class="form-select") }}
      </div>
      <div class="col-sm-2 mb-3">
        {{ form.uni_un_t.label(class="form-label") }}
        {{ form.uni_un_t(class="form-select") }}
      </div>
    </div>
    <div style="float:right;">
    <input type="submit" class="btn btn-primary" formmethod="POST" value="Submit">
    </div>
  </form>


  <div class="mt-5">
    {% block subform_title %}
      <h4>Registered unit of measurement</h4>
      <small>click to edit</small>
    {% endblock %}
    <div style="overflow:auto;">
      {% block subform %}
      <table class="table">
        <thead>
          <tr>
            {% for header in column_names %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in records %}
          <tr>
          {% for value in row.values() %}
            <td>{{ value }}</td>
          {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
      {% endblock %}
    </div>
  </div>
</div>  
{% endblock %}