{%extends "base.html" %}

{% block form%}

<div class ="container bg-light">
  <form method="POST" id="nav_form">
    {{ form.hidden_tag() }}
    <div class="row mb-3" >
      <div class="col-sm-8">
        <h2>Unit of measurement</h2>
        <small>add, edit, delete unit of measures and create your own table of equivalents</small>
      </div>
      <div class="col-sm-4" style ="float:right;">
        <button type = "submit" value = "out" class="btn" name ="nav">
          <i class="fa-solid fa-door-open"></i>
        </button>
        <button type = "submit" value = "first" class="btn" name ="nav">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button type = "submit" value = "back" formmethod ="post" class="btn" name ="nav">
          <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button class="btn btn-outline-dark" id = "id" locked>
          {{ form.id.data }}
        </button>
        <button type = "submit" value = "next" class="btn" name ="nav">
          <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
        <button type = "submit" value = "last" class="btn" name ="nav">
          <i class="fa-solid fa-angles-right"></i>
        </button>
        <button type = "button" value = "new" class="btn" name ="nav" onclick="newrecord()">
          <i class="fa-solid fa-square-plus"></i>
        </button>
      </div>  
    </div>
    <div>
      {{ form.id() }}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {{ form.qty_um.label(class="form-label") }}
        {{ form.qty_um(class="form-control", value = form.qty_um.data) }}
      </div>
      <div class="col-sm-3">
        {{ form.uni_symb.label(class="form-label") }}
        {{ form.uni_symb(class="form-control", value = form.uni_symb.data, id="uni_symb") }}
      </div>
      <div class="col-sm-1 align-items-center" style="margin:auto">
        <h1>=</h1>
      </div>
      <div class="col-sm-3">
        {{ form.qty_base.label(class="form-label") }}
        {{ form.qty_base(class="form-control", value = form.qty_base.data) }}
      </div>
      <div class="col-sm-2 mb-3">
        {{ form.uni_un_t.label(class="form-label") }}
        {{ form.uni_un_t(class="form-select", value = form.uni_un_t.data) }}
      </div>
    </div>
    <div style="float:right;">
    <input type="submit" class="btn btn-primary" formmethod="POST" value="Submit">
    </div>
  </form>


  <div class="container mt-5">
    {% block subform_title %}
      <h4>Registered unit of measurement</h4>
    {% endblock subform_title %}
    <div style="height:445px; overflow:auto;">
      {% block subform %}
      <table class="table table-hover">
        <thead class = "bg-light" style="position: sticky;top: 0">
          <tr>
            {% for header in column_names %}
              {% if header == 'id' %}
              <th></th>
              {% else %}
                <th>{{ header }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in records %}
            <tr>
              {% for key, value in row.items() %}
                {% if key == 'id' %}
                  <td>
                    <button type = "submit" value = {{ value }} form ="nav_form" formmethod ="post" class="btn btn-sm btn-primary" name ="nav">
                      <small>edit</small>
                    </button>
                  </td>
                {% else %}
                  {% if key == 'Unit of Measurement' %}
                    <td style:"text-align: center;"> 1 {{ value }}  <bold>=</bold></td>
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}  
                {% endif %}    
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div> 
      {% endblock subform%}
    </div>
  </div>
</div>  
{% endblock form%}
{% block script%}
{{ super() }}
  <script>
     function newrecord() {
        document.getElementById("uni_symb").value = "";
        }
  </script>
{% endblock script%}
